@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Bayon&family=Big+Shoulders+Display:wght@100..900&family=Chango&family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&family=League+Spartan:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "League Spartan", serif;
}

:root {
	--theme-normal: #3a4663;
	--theme-normal-body-text: #ffffff;
	--theme-normal-input-color: #181f33;
	--theme-normal-egal-color: #d03f2f;
	--theme-normal-theme-bar: #242d44;
	--theme-normal-del-reset-color: #647198;
	--theme-normal-shadow-text-color: #b3a497;
	--theme-normal-shadow-del-rest-color: #414e73;
	--theme-normal-shadow-egal-color: #93261a;

	--theme-light: #e6e6e6;
	--theme-light-body-text: #36362c;
	--theme-light-input-color: #eeeeee;
	--theme-normal-theme-bar: #d2cdcd;
	--theme-light-egal-color: #c85402;
	--theme-light-del-reset-color: #378187;
	--theme-light-shadow-text-color: #a79e91;
	--theme-normal-shadow-del-rest-color: #1b6066;
	--theme-normal-shadow-egal-color: #873901;

	--theme-dark: #e6e6e6;
	--theme-dark-body-text: #36362c;
	--theme-dark-input-color: #eeeeee;
	--theme-dark-theme-bar: #d2cdcd;
	--theme-dark-egal-color: #c85402;
	--theme-dark-del-reset-color: #378187;
	--theme-dark-shadow-text-color: #a79e91;
	--theme-dark-shadow-del-rest-color: #1b6066;
	--theme-dark-shadow-egal-color: #873901;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

body.normal {
	background-color: var(--theme-normal);
	color: var(--theme-normal-body-text);
}

body.light {
	background-color: var(--theme-light);
	color: var(--theme-light-body-text);
}

main {
	width: 85%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

header {
	padding: 20px;
}

nav {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
}

nav p {
	font-size: 32px;
	font-weight: 700;
}

.bar {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 20px;
	padding: 0;
}

.bar input {
	width: 100%;
	border-radius: 10px;
	border: none;
	padding: 30px;
}

body.normal input {
	background-color: var(--theme-normal-input-color);
}

body.light input {
	background-color: var(--theme-light-input-color);
}

body.dark input {
	background-color: var(--theme-dark-input-color);
}

article {
	display: flex;
	gap: 30px;
	flex-direction: column;

	padding: 10px;
	border-radius: 10px;
	margin-bottom: 60px;
}

.all {
	background-color: #242d44;
	gap: 20px;
	padding: 10px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

.right-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.right-nav span {
	font-size: 12px;
	font-weight: 700;
}

button {
	cursor: pointer;
}

.theme button {
	padding: 10px;
	text-align: center;
	background-color: #242d44;
	color: white;
	border: none;
}

.tableau {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 10px;
	color: #434a59;
}

.blanc {
	padding: 20px;
	border: none;
	border-radius: 10px;
	box-shadow: 0px -4px 0px 0px #b3a497 inset;
	background-color: #eae3dc;
	font-size: 32px;
	font-weight: 700;
}

.DEL {
	border-radius: 10px;
	padding: 20px;
	border: none;
	background-color: #647198;
	color: white;
	box-shadow: 0px -4px 0px 0px #414e73 inset;
}

.result {
	border-radius: 10px;
	border: none;
	display: flex;
	flex-direction: row;
}

.result {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}

.egal {
	width: 40%;
	border-radius: 10px;
	padding: 20px;
	border: none;
	box-shadow: 0px -4px 0px 0px #93261a inset;
	background-color: #d03f2f;
	color: white;
	font-weight: 700;
	font-size: 28px;
}

.RES {
	width: 40%;
	padding: 20px;
	border: none;
	border-radius: 10px;
	box-shadow: 0px -4px 0px 0px #414e73 inset;
	background-color: #647198;
	color: white;
	font-weight: 700;
	font-size: 28px;
}
